<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>patients table</h1>
<table>

    <tr>
        <td>Id</td>
        <td>name</td>
        <td>gender</td>
        <td>age</td>
        <td>doctor</td>
    </tr>
    <tr th:each="patient : ${patients}">
        <td th:text="${patient.Id}">123</td>
        <td th:text="${patient.name}">aws</td>
        <td th:text="${patient.gender}">male</td>
        <td th:text="${patient.age}">30</td>
        <td th:text="${patient.doctor}">doctor</td>
    </tr>

</table>

</body>
</html>